@font-face {
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: Roboto-Medium; }

@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: Roboto-Regular; }

@font-face {
  src: url("../fonts/Roboto-Light.ttf");
  font-family: Roboto-Light; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1180px;
  margin: 0 auto; }

.header__top, .header__bottom {
  width: 100%;
  background-color: #F7F7F7; }

.header__bottom {
  background-color: white; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__menu {
  display: flex; }

.header__logo {
  width: 187px;
  height: 145px;
  position: relative;
  background-color: #74CFB7;
  cursor: pointer; }

.header__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.header__text {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
  margin: 5px; }

.header__text--bold {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #1F252D; }

.header__menu {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  word-spacing: -.36em; }

.header__item {
  list-style: none;
  text-transform: uppercase;
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  padding: 26px 0; }

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #404853;
  padding: 0 20px 0 0;
  transition: .3s;
  border-right: 1px solid #E1E1E1; }

.header__link--border {
  padding: 0 20px; }

.header__item--icon {
  margin-left: 36px; }

.header__link:hover {
  opacity: 0.5; }

.header__box {
  cursor: pointer; }

.header__svg {
  transition: .3s; }

.header__box:hover .header__svg {
  fill: #079FC2; }

@media only screen and (max-width: 1024px) {
  .header__container {
    flex-direction: column;
    text-align: center; }
  .header__logo {
    width: 100%; }
  .header__menu {
    flex-direction: column; }
  .header__item {
    padding: 10px 0;
    border-bottom: 1px solid #E1E1E1; }
  .header__item--icon {
    margin: 0; }
  .header__link {
    border: none;
    padding: 0; } }

.btn {
  font-family: "Roboto-Regular", Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #079FC2;
  padding: 16px 50px;
  text-decoration: none;
  border-radius: 4px;
  transition: .3s; }

.btn__container {
  text-align: center;
  padding: 66px 0; }

.btn:hover {
  background-color: #74CFB7;
  box-shadow: 0 4px 10px rgba(116, 207, 183, 0.455022); }

.btn__secondary {
  background-color: #74CFB7; }

.btn__secondary:hover {
  background-color: #079FC2; }

.btn__vertical {
  cursor: pointer;
  position: fixed;
  text-align: center;
  right: 0;
  width: 70px;
  height: 64px;
  background-color: #74CFB7;
  z-index: 999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: .3s; }

.btn__vertical:hover {
  background-color: #079FC2; }

.btn__img {
  padding: 10px 0 5px; }

.btn__vertical-text {
  font-family: "Roboto-Regular", Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF; }

@media only screen and (max-width: 1024px) {
  .btn {
    margin-bottom: 10px; } }

@media only screen and (max-width: 414px) {
  .btn__vertical {
    opacity: .8; } }

.promo {
  background: url("../images/bg.png") center/cover;
  width: 100%; }

.promo__wrap {
  display: flex; }

.promo__wrap--selects {
  background-color: #f7f7f7;
  border-radius: 4px;
  margin-top: 10px; }

.promo__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 22px;
  margin-top: 25px; }

.promo__container {
  border-top: 3px solid #74CFB7;
  text-align: center;
  max-width: 1180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.promo__title {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF; }

.promo__search-room {
  padding: 30px;
  background-color: white;
  box-shadow: 0 11px 49px rgba(0, 0, 0, 0.240178);
  border-radius: 4px;
  margin: 0 auto 70px; }

.promo__box {
  width: 820px;
  height: 60px; }

.promo__text, .promo__label {
  text-align: left;
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D; }

.promo__select {
  bottom: 28px;
  width: 171px;
  height: 45px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 15px 20px 15px 15px; }

select {
  background: url("../images/arrow.svg") no-repeat right 20px center/11px auto;
  cursor: pointer; }

.promo__select--secondary {
  width: 200px;
  border-left: 1px solid lightgrey; }

.promo__btn {
  border: none;
  width: 153px;
  background-color: #079FC2;
  border-radius: 4px;
  color: white; }

.promo__btn:hover {
  background-color: #74CFB7;
  box-shadow: 0 4px 10px rgba(116, 207, 183, 0.455022); }

.promo__radiobox {
  display: none; }

.promo__radiobox + .promo__label {
  position: relative; }

.promo__radiobox + .promo__label:before {
  content: "";
  display: inline-block;
  position: absolute;
  border: 1px solid #ccc;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  left: -35px;
  background-color: white; }

.promo__radiobox + .promo__label:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background-color: black;
  left: -30px;
  top: 5px;
  opacity: 0; }

.promo__radiobox:checked + .promo__label:after {
  opacity: 1; }

@media only screen and (max-width: 1224px) {
  .promo__wrap {
    flex-direction: column;
    align-items: center; }
  .promo__search-room {
    width: 90%;
    padding: 25px 5px; }
  .promo__box {
    width: 90%; }
  .promo__wrap--selects {
    margin: 0 auto;
    width: 80%; }
  .promo__wrap--selects label {
    width: 100%; }
  .promo__select {
    width: 100%;
    border-bottom: 1px solid lightgrey; }
  .promo__select--secondary {
    border-left: none; }
  .promo__btn {
    width: 100%;
    padding: 5px 0; } }

.map {
  background-color: white;
  position: relative; }

.map__container {
  width: 100%;
  height: 495px;
  background: url("../images/map.png") no-repeat center/cover;
  margin: 25px 0; }

.map__background {
  position: relative;
  width: 100%;
  height: 535px; }

.map__inner {
  display: flex; }

.map__box {
  background-color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column; }

.map__card {
  position: relative;
  width: 507px;
  height: 373px;
  background-color: white; }

.map__card::after {
  content: '';
  position: absolute;
  right: -42px;
  top: 115px;
  border: 21px solid transparent;
  border-left: 21px solid white; }

.map__box-item {
  display: flex;
  align-items: baseline; }

.map__title {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
  margin: 0; }

.map__text-heavy, .map__address, .map__subtext--heavy {
  font-family: "Roboto-Regular",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #404853;
  margin: 0 10px 0 0;
  padding: 10px 0 10px; }

.map__text-light, .map__subtext--light {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #1F252D;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin: 0; }

.map__text-light--flat, .map__subtext--light {
  width: 156px; }

.map__text-light--flat, .map__text-heavy--flat {
  padding: 5px 0; }

.map__subtext--light, .map__subtext--heavy {
  padding: 5px 0; }

.map__icon {
  width: 16px;
  height: 11px;
  margin-right: 5px; }

.map__address {
  margin: 0;
  padding: 0 0 9px; }

.map__box-item--border {
  border-bottom: 1px solid #E7E7E7; }

.map__btn {
  padding: 10px 64px; }

@media only screen and (max-width: 768px) {
  .map__card {
    width: 100%;
    text-align: center; }
  .map__card::after {
    display: none; }
  .map__inner {
    flex-direction: column; }
  .map__img {
    display: none; }
  .map__wrap {
    width: 95%;
    margin: 0 auto; }
  .map__box {
    width: 85%;
    padding: 10px 20px; }
  .map__box-item {
    justify-content: center; }
  .map__btn {
    width: 100px;
    margin: 0 auto; } }

.m-0 {
  margin: 0; }

.m-auto {
  margin: 0 auto; }

.mt-0 {
  margin-top: 0; }

.t-227 {
  top: 227px; }

.t-295 {
  top: 295px; }

.mt-10 {
  margin-top: 10px; }

.mt-40 {
  margin-top: 40px; }

.mt-65 {
  margin-top: 65px; }

.mb-11 {
  margin-bottom: 11px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-27 {
  margin-bottom: 27px; }

.mr-15 {
  margin-right: 15px; }

.mr-35 {
  margin-right: 35px; }

.ml-22 {
  margin-left: 22px; }

.mb-22 {
  margin-bottom: 22px; }

.pl-0 {
  padding-left: 0; }

.pl-7 {
  padding-left: 7px; }

.pr-18 {
  padding-right: 18px; }

.pl-0 {
  padding-left: 0; }

.pl-35 {
  padding-left: 35px; }

.pt-3 {
  padding-top: 3px; }

.pt-40 {
  padding-top: 40px; }

.pt-60 {
  padding-top: 60px; }

.pt-65 {
  padding-top: 65px; }

.pt-80 {
  padding-top: 80px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-80 {
  padding-bottom: 80px; }

.pr-35 {
  padding-right: 35px; }

.arrow {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white; }

.arrow__wrap {
  position: absolute;
  top: 45px;
  right: 45px;
  z-index: 1; }

.arrow__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 32px; }

.arrow:hover .arrow__svg {
  fill: #079FC2; }

@media only screen and (max-width: 1024px) {
  .arrow {
    display: none; } }

.content {
  width: 100%;
  background-color: #F7F7F7; }

.content__container {
  max-width: 1180px;
  display: flex;
  margin: 0 auto; }

.content__leftside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.content__rightside {
  width: 50%;
  position: relative;
  background: url("../images/build1.png") center/cover; }

.content__rightside--second {
  background: url("../images/bg2.png"); }

.content__rightside--third {
  background: url("../images/Bitmap.png"); }

.content__wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E7E7E7; }

.content__wrap--noborder, .content__wrap--menu {
  border: none; }

.content__wrap--address {
  border: none;
  padding: 25px 0 23px;
  align-items: baseline; }

.content__wrap--menu {
  margin-top: 10px; }

.content__inner {
  display: flex;
  flex-direction: column;
  width: 100%; }

.content__promo {
  position: absolute;
  right: 0;
  width: 229px;
  padding: 13px 20px;
  background: #F0F0F0;
  mix-blend-mode: normal;
  opacity: 0.75;
  border-radius: 0 0 0 4px; }

.content__icon {
  width: 14px;
  height: 14px; }

.content__icon--secondary {
  width: 18px;
  height: 13px; }

.content__item {
  padding-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center; }

.content__box {
  display: flex;
  align-items: center; }

.content__promo-text {
  font-family: "Roboto-Regular",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #404853; }

.content__btn {
  position: absolute;
  bottom: 33px;
  right: 190px; }

.content__leftside {
  padding: 35px 40px 40px 35px; }

.content__leftside {
  display: flex;
  flex-direction: column;
  background-color: white; }

.content__title {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #1F252D;
  margin: 0; }

.content__text, .content__address, .content__text--light, .content__sub-address {
  font-family: "Roboto-Regular",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
  margin: 0;
  border-left: 1px solid #E7E7E7;
  padding: 10px 0 10px 25px; }

.content__text--light, .content__address--light {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-weight: 300;
  opacity: 0.6;
  width: 50%;
  border: none;
  padding: 0 0 0 25px; }

.content__address, .content__sub-address {
  border: none;
  padding: 0 0 0 7px; }

.content__address--light {
  padding: 0 0 0 18px; }

.content__sub-address {
  padding: 0 0 27px 0; }

.content__text--top {
  padding-top: 0; }

.content__text--sub {
  padding-bottom: 0; }

.content__link {
  text-decoration: none;
  display: flex;
  padding: 10px 15px 10px 10px;
  background-color: #f7f7f7;
  border-radius: 4px;
  margin-right: 6px;
  transition: .3s; }

.content__link--first {
  margin-left: 25px; }

.content__svg {
  padding-right: 7px;
  transition: .3s; }

.content__text-btn {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #079FC2;
  margin: 0; }

.content__link:hover {
  background-color: #079FC2; }

.content__link:hover .content__text-btn {
  color: white; }

.content__link:hover .content__svg {
  fill: white; }

@media only screen and (max-width: 1024px) {
  .content__leftside {
    width: 90%; }
  .content__rightside {
    display: none; }
  .content__wrap {
    flex-direction: column;
    border: none; }
  .content__wrap1 {
    text-align: center; }
  .content__wrap--menu {
    flex-direction: column; }
  .content__link, .content__link--first {
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid lightgrey;
    padding: 10px; }
  .content__wrap--address {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .content__text {
    width: 100%;
    padding-left: 0;
    border-left: none; }
  .content__text--sub {
    padding-bottom: 10px; }
  .content__item {
    padding: 0; } }

footer {
  width: 100%;
  background-color: white;
  padding: 100px 0 0; }

.footer__container {
  max-width: 1180px;
  border: 1px solid #E7E7E7; }

.footer__wrap {
  display: flex;
  justify-content: space-between; }

.footer__inner {
  display: flex;
  align-items: center; }

.footer__img, .footer__icon {
  padding-right: 25px; }

.footer__content {
  padding: 0 100px 0; }

.footer__title {
  padding: 69px 0 29px;
  margin: 0; }

.footer__text, .footer__subtext {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #1F252D;
  margin: 0; }

.footer__icon-text {
  margin: 0;
  padding: 0; }

.footer__box {
  display: flex;
  align-items: center; }

.footer__title-sub {
  padding: 26px 0 42px;
  margin: 0; }

.footer__subtext {
  font-size: 14px;
  line-height: 16px; }

.footer__subfooter {
  max-width: 1180px;
  margin: 0 auto; }

@media only screen and (max-width: 1024px) {
  .footer__wrap {
    flex-direction: column; }
  .footer__content {
    padding: 0 10px 0;
    text-align: center; }
  .footer__inner {
    flex-direction: column; }
  .footer__img {
    padding: 0; }
  .footer__icon-text {
    width: 80%;
    padding: 10px 0; }
  .footer__box {
    flex-direction: column; }
  .footer__icon {
    padding: 10px 0 0; }
  .footer__subfooter {
    text-align: center; } }
