.arrow {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}
.arrow__wrap {
  position: absolute;
  top: 45px;
  right: 45px;
  z-index: 1;
}
.arrow__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 28px;
  height: 32px;
}
.arrow:hover .arrow__svg {
  fill: #079FC2;
}
@media only screen and (max-width : 1024px) {
  .arrow {
    display: none;
  }
}


