.m-0 {
  margin: 0;
}
.m-auto {
  margin: 0 auto;
}
.mt-0 {
  margin-top: 0;
}
.t-227 {
  top: 227px;
}
.t-295 {
  top: 295px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-65 {
  margin-top: 65px;
}
.mb-11 {
  margin-bottom: 11px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-27 {
  margin-bottom: 27px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-35 {
  margin-right: 35px;
}
.ml-22 {
  margin-left: 22px;
}
.mb-22 {
  margin-bottom: 22px;
}
.pl-0 {
  padding-left: 0;
}
.pl-7 {
  padding-left: 7px;
}
.pr-18 {
  padding-right: 18px;
}
.pl-0 {
  padding-left: 0;
}
.pl-35 {
  padding-left: 35px;
}
.pt-3 {
  padding-top: 3px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-60 {
 padding-top: 60px;
}
.pt-65 {
  padding-top: 65px;
}
.pt-80 {
  padding-top: 80px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pr-35 {
  padding-right: 35px;
}