.header__top, .header__bottom {
  width: 100%;
  background-color: #F7F7F7; }

.header__bottom {
  background-color: white; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__menu {
  display: flex; }

.header__logo {
  width: 187px;
  height: 145px;
  position: relative;
  background-color: #74CFB7;
  cursor: pointer; }

.header__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.header__text {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
  margin: 5px; }

.header__text--bold {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #1F252D; }

.header__menu {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  word-spacing: -.36em; }

.header__item {
  list-style: none;
  text-transform: uppercase;
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  padding: 26px 0; }

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #404853;
  padding: 0 20px 0 0;
  transition: .3s;
  border-right: 1px solid #E1E1E1; }

.header__link--border {
  padding: 0 20px; }

.header__item--icon {
  margin-left: 36px; }

.header__link:hover {
  opacity: 0.5; }

.header__box {
  cursor: pointer; }

.header__svg {
  transition: .3s; }

.header__box:hover .header__svg {
  fill: #079FC2; }

@media only screen and (max-width: 1024px) {
  .header__container {
    flex-direction: column;
    text-align: center; }
  .header__logo {
    width: 100%; }
  .header__menu {
    flex-direction: column; }
  .header__item {
    padding: 10px 0;
    border-bottom: 1px solid #E1E1E1; }
  .header__item--icon {
    margin: 0; }
  .header__link {
    border: none;
    padding: 0; } }
