.map {
  background-color: white;
  position: relative; }

.map__container {
  width: 100%;
  height: 495px;
  background: url("../../images/map.png") no-repeat center/cover;
  margin: 25px 0; }

.map__background {
  position: relative;
  width: 100%;
  height: 535px; }

.map__inner {
  display: flex; }

.map__box {
  background-color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column; }

.map__card {
  position: relative;
  width: 507px;
  height: 373px;
  background-color: white; }

.map__card::after {
  content: '';
  position: absolute;
  right: -42px;
  top: 115px;
  border: 21px solid transparent;
  border-left: 21px solid white; }

.map__box-item {
  display: flex;
  align-items: baseline; }

.map__title {
  font-family: "Roboto-Medium",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
  margin: 0; }

.map__text-heavy, .map__address, .map__subtext--heavy {
  font-family: "Roboto-Regular",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #404853;
  margin: 0 10px 0 0;
  padding: 10px 0 10px; }

.map__text-light, .map__subtext--light {
  font-family: "Roboto-Light",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #1F252D;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin: 0; }

.map__text-light--flat, .map__subtext--light {
  width: 156px; }

.map__text-light--flat, .map__text-heavy--flat {
  padding: 5px 0; }

.map__subtext--light, .map__subtext--heavy {
  padding: 5px 0; }

.map__icon {
  width: 16px;
  height: 11px;
  margin-right: 5px; }

.map__address {
  margin: 0;
  padding: 0 0 9px; }

.map__box-item--border {
  border-bottom: 1px solid #E7E7E7; }

.map__btn {
  padding: 10px 64px; }

@media only screen and (max-width: 768px) {
  .map__card {
    width: 100%;
    text-align: center; }
  .map__card::after {
    display: none; }
  .map__inner {
    flex-direction: column; }
  .map__img {
    display: none; }
  .map__wrap {
    width: 95%;
    margin: 0 auto; }
  .map__box {
    width: 85%;
    padding: 10px 20px; }
  .map__box-item {
    justify-content: center; }
  .map__btn {
    width: 100px;
    margin: 0 auto; } }
